
.navimg{
    background: url('../img/head.png') no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 880px;
}
header {
    background: #00367c;
    height: 880px;
    padding-top: 20px;
}
.imglogo{
    height: 60px;
    filter: brightness(1.1);
    margin-bottom: 5px;

}
.navwrapper{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
    background: #00e069;
    height: 95px;


}

.right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;



}
li a{
    text-decoration: none;
    color: #00367c;

}

body{

}

.headerbody{
    margin-top: 170px;
    margin-left: 70px;

}
.videocurio{
    object-fit: cover;
}
.textcontainervideo{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    color: #00367c;
    filter: brightness(0.8);

}
.textunderright{
    margin-left: 90px;
}
.texttopfix{
    margin-top: -25px;
    font-size: 25px;
}
.texttitlefix{
    font-size: 25px;
}
